<ion-view>
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
        <div class="row text-center">
            <div class="col card">
                <div class="item item-text-wrap">
                    <h1>{{ weather.uvIndex }}</h1>
                    <p>UV Index</p>
                </div>
            </div>
            <div class="col card">
                <div class="item item-text-wrap">
                    <h1>10</h1>
                    <p>UV Index</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col card">
                <div class="item item-text-wrap">
                    <h1>10</h1>
                    <p>UV Index</p>
                </div>
            </div>
            <div class="col card">
                <div class="item item-text-wrap">
                    <h1>10</h1>
                    <p>UV Index</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col card">
                <div class="item item-text-wrap">
                    <h1>10</h1>
                    <p>UV Index</p>
                </div>
            </div>
            <div class="col card">
                <div class="item item-text-wrap">
                    <h1>10</h1>
                    <p>UV Index</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>