/* Empty. Add your own CSS if you like */

body {
    position: absolute;
}

.angular-google-map-container {
    height: 400px;
}

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 300px;
}